nav span {
  font-family: var(--secondary-font);
  margin-bottom: -1.5em;
;
  
}

nav {
  display: flex;
  color: #FFFFFF;
  background: #4056A1;
  height: 120px;
  padding: 0 1.5em;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.symbol i{
  display: block;
  color: red;
  text-align: center;
  margin-bottom: -1.5em;
}

